:root {
  --container-bg-color: #333;
  --left-bg-color: rgba(21, 58, 219, 0.7);
  --left-button-hover-color: rgba(161, 11, 11, 0.3);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --right-button-hover-color: rgba(92, 92, 92, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;

}

html, body
{
  padding:0;
  margin:0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: rgb(223, 222, 222);
}

.logo
{
  line-height: 60px;
   position: fixed;
   float: left;
   margin: 16px 46px;
   color: #fff;
   font-weight: bold;
   font-size: 20px;
   letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      z-index: 999;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

h1{
  font-size: 4rem;
  color: #fff;
  position:absolute;
  left:50%;
  top:20%;
  transform: translateX(-50%);
  white-space: nowrap;
}



.title
{
  width:100%;
  position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size:28px;
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
}


.button
{
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  height: 2.5rem;
  padding-top: 1.3rem;
  width:15rem;
  text-align: center;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}

.split-left .button:hover{
  background-color: var(--left-button-hover-color);
  border-color: var(--left-button-hover-color);
}

.split-right .button:hover{
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
}

.container{
  position: relative;
  width: 100%;
  height:100%;
  background: var(--container-bg-color);
}

.grid-container{
  position: relative;
  width: 60%;
  height:20%;
  transform: translate(35%, 50%);
}


.split{
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left{
  left:0;
  background: url("../img/game-dev2-min.jpg") center center no-repeat;
  background-size: cover;
}

.split.left:before{
  position:absolute;
  content:"";
  width:100%;
  height:100%;
  background: var(--left-bg-color);
}

.split.right{
  right:0;
  background: url('../img/web-dev-min.jpg') center center no-repeat;
  background-image: cover;
}

.split.right:before{
  position: absolute;
  content:"";
  width:100%;
  height:100%;
  background: var(--right-bg-color);
}

.split.left, .split.right, .split.left:before, .split.right:before{
  transition: var(--speed) all ease-in-out;
}

.hover-left .left{
  width: var(--hover-width);
}

.hover-left .right{
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 2;
}

.hover-right .right{
  width: var(--hover-width);
}

.hover-right .left{
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}


/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 25px;
  margin-bottom:250px;

}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 25px;
  margin-bottom:250px;

}

/* items */
.grid div
{
  color: white;
  font-size: 20px;
  padding: 20px;
  min-height:200px;
  min-width:300px;
  height:225px;
}

/* specific item styles */
.item {
  background: #fff;
  box-shadow: 2px 2px #000;
  text-align: left;
}



#mandala
{
  background: url('../img/mandala-min-1.jpg') center center no-repeat;
  background-size: cover;

}

#phonics
{
  background: url('../img/phonics.jpg')  no-repeat;
  background-size: cover;
}


/* Gamedev Animated Background -- Move this to a function */
.AnimatedBackGroundGameDev {
	width: 100vw;
	height: 100vh;
	color: #fff;
  background: linear-gradient(-45deg, #df142c,  #5f3b62, #6fb0f4 ,#17309c);
	background-size: 400% 400%;
	-webkit-animation: Gradient 60s ease infinite;
	-moz-animation: Gradient 60s ease infinite;
	animation: Gradient 60s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* ----- Ends ----- */


/* WebDev Animated Background --move this to a function */

.AnimatedBackGroundWebDev {
	width: 100vw;
	height: 100vh;
	color: #fff;
	background: linear-gradient(-45deg, #d0cbcb,  #757275, #020c16 ,#474b59);
	background-size: 400% 400%;
	-webkit-animation: Gradient 60s ease infinite;
	-moz-animation: Gradient 60s ease infinite;
	animation: Gradient 60s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* Ends */

/* Media Queries */
@media(max-width: 800px)
{

  .logo {
         position: fixed;
         top: 0;
         left:5px
         margin-top: 8px;
   }

   nav ul {
         max-height: 0px;
         background: #000;
   }

   nav.black ul {
         background: #000;
   }

   .showing {
         max-height: 34em;
   }

   nav ul li {
         box-sizing: border-box;
         width: 100%;
         padding: 24px;
         text-align: center;
   }

   .menu-icon {
         display: block;
   }

  h1{
    font-size: 2rem;
  }

  .button{
    width: 12rem;
  }



}

@media(max-height: 700px)
{
  .button{
    top:70%;
  }
}
